body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-display {
  display: flex;
  justify-content: center;
}
.card {
  border-radius: 2rem;
}

.card-img-top {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.search-input {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
}